@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'cwTeXYen', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    overflow-x: hidden;
}
.logo{
    width: 90%;
    margin: 10px;
    transition: all 0.5s ease-in-out;
  }
.logo:hover{
   transform: scale(1.2);
}
@media screen and (min-width: 1081px){
    .main_background img{
        width: 100vw;
        margin-top: -20rem;
        z-index: 10;
    }
    .container_partone h2 {
        position: absolute;
        top: 18rem;
        right: 15rem;
        z-index: 30;  
        opacity: 0;
    }
    .container_partone p{
        position: absolute;
        width: 460px;
        top: 25rem;
        right: 12rem;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 36px;
        z-index: 30;
        opacity: 0;
    }
    .container_partone .belt {
        position: absolute;
        width: 28%;
        top: 28rem;
        left: 10rem;
        z-index: 30;
        transform: rotate(359deg);
        opacity: 0;
    }
    .container_partone .box {
        position: absolute;
        width: 5%;
        top: 30rem;
        left: 10rem;
        z-index: 30;
        opacity: 0;
    }
    .container_partone .img_bg{
        position: absolute;
        width: 22%;
        top: 25rem;
        left: 15rem;
        z-index: 20;
        opacity: 0;
    }
    .container_partone .title_bg{
        position: absolute;
        width: 30%;
        height: 110px;
        top: 17rem;
        left: 52rem;
        z-index: 20;
        opacity: 0;
    }
    /* 如何將系統化概念帶入幼兒園呢？ */
    .container_parttwo h2{
        position: absolute;
        top: 55rem;
        left: 15rem;
        z-index: 30;
        opacity: 0;
    }
    .container_parttwo p{
        position: absolute;
        width: 460px;
        top: 59rem;
        left: 15rem;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 36px;
        z-index: 30;
        opacity: 0;
    }
    .container_parttwo .school{
        position: absolute;
        width: 15%;
        top: 53rem;
        right: 18rem;
        z-index: 40;
        opacity: 0;
    }
    .container_parttwo .school_bg{
        position: absolute;
        width: 25%;
        top: 54rem;
        right: 12rem;
        transform: rotate(348deg);
        z-index: 20;
        opacity: 0.5;
        opacity: 0;
    }
    .container_parttwo .title_bg{
        position: absolute;
        width: 32%;
        height: 60px;
        top: 54.2rem;
        left: 19rem;
        z-index: 20;
        opacity: 0;
    }
    /* PDCA和OPDCA是什麼？ */
    .container_parthree h2{
        position: absolute;
        top: 82rem;
        left: 16rem;
        z-index: 30;
        opacity: 0;
    }
    .container_parthree p{
        position: absolute;
        width: 800px;
        top: 88.5rem;
        left: 20rem;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 36px;
        z-index: 30;
        opacity: 0;
    }
    .container_parthree .title_bg{
        position: absolute;
        width: 31%;
        height: 95px;
        top: 81.3rem;
        left: 15rem;
        z-index: 20;
        opacity: 0;
    }
    .video{
        position: absolute;
        top: 125rem;
        left: 19.5rem;
        z-index: 40;
        opacity: 0;
    }
    .videobox > iframe{
        position: absolute;
        width: 75%;
        height: 420px;
        border-radius: 10px;
        z-index: 40;
        border: 8px solid #b07d62;
        box-shadow: 10px 5px 10px 1px rgb(0 0 0 / 35%);
    }
    .board{
        position: absolute;
        width: 25%;
        top: 115rem;
        left: 36rem;
        z-index: 30;
        opacity: 0;
    }
    footer p{
        width: 100%;
        position: absolute;
        padding: 15px 0px;
        background: #BD9985;
        text-align: center;
        color: #fff;
        top: 168rem;
        margin-bottom: unset;
    }
}

/* 螢幕裝置大小小於1080px */
@media screen and (max-width: 1080px){
    .main_background img{
        width: 100vw;
        margin-top: -9rem;
        z-index: 10;
    }
    .container_partone h2 {
        position: absolute;
        top: 15rem;
        right: 21.5rem;
        font-size: 20px;
        z-index: 30; 
    }
    .container_partone p{
        position: absolute;
        width: 460px;
        top: 24rem;
        right: 18rem;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 36px;
        z-index: 30;
    }
    .container_partone .belt {
        position: absolute;
        width: 25%;
        top: 28rem;
        left: 10.2rem;
        z-index: 30;
        transform: rotate(359deg);
    }
    .container_partone .box {
        position: absolute;
        width: 5%;
        top: 29rem;
        left: 12rem;
        z-index: 30;
    }
    .container_parttwo h2{
        position: absolute;
        top: 55rem;
        left: 20rem;
        z-index: 30;
    }
    .container_parttwo p{
        position: absolute;
        width: 380px;
        top: 48rem;
        left: 15rem;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 36px;
    }
    .container_parttwo .line{
        position: absolute;
        width: 15%;
        top: 60rem;
        right: 19.5rem;
        z-index: 40;
        transform: rotate(354deg);
    }
    .container_parttwo .school{
        position: absolute;
        width: 15%;
        top: 47rem;
        right: 15rem;
        z-index: 40;
    }

    .container_parthree h2{
        position: absolute;
        top: 66rem;
        left: 16rem;
        font-size: 20px;
        z-index: 30;
    }
    .container_parthree p{
        position: absolute;
        width: 515px;
        top: 70.5rem;
        left: 17rem;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 28px;
        z-index: 30;
    }
    .video{
        position: absolute;
        top: 104rem;
        left: 17.5rem;
        z-index: 40;
    }
    .videobox > iframe{
        position: absolute;
        width: 50%;
        height: 275px;
        border-radius: 10px;
        z-index: 40;
        border: 8px solid #b07d62;
        box-shadow: 10px 5px 10px 1px rgb(0 0 0 / 35%);
    }
    .board{
        position: absolute;
        width: 15%;
        top: 98rem;
        left: 28rem;
        z-index: 30;
    }
    footer p{
        width: 100%;
        position: absolute;
        padding: 15px 0px;
        background: #BD9985;
        text-align: center;
        color: #fff;
        top: 168rem;
        margin-bottom: unset;
    }

}