body{
  scroll-behavior: smooth;
}

@media screen and (min-width: 1440px){
  #back_btn {
    display: none;
    position: fixed;
    top: 38rem;
    right: 2rem;
    cursor: pointer;
    width: 7%;
    z-index: 100;
    animation: float 2.5s infinite;
  }
  @keyframes float {
    0% {
      top: 38rem;
    }
    50% {
      top: 38.5rem;
    }
    100% {
      top: 38rem;
    }
  }
}

@media screen and (max-width: 1080px){
  #back_btn {
    display: none;
    position: fixed;
    top: 40rem;
    right: 2.5rem;
    z-index: 50;
    cursor: pointer;
    width: 7%;
    z-index: 100;
    animation: float 2.5s infinite;
  }
  @keyframes float {
    0% {
      top: 40rem;
    }
    50% {
      top: 39.5rem;
    }
    100% {
      top: 40rem;
    }
  }
}